.inactive,
.active {
  &:after {
    transition: background 0.2s ease-in-out;
  }
}

.inactive {
  &:after {
    content: '';
    display: block;
    height: 2px;
    background: transparent;
  }
}

.active {
  &:after {
    content: '';
    display: block;
    height: 2px;
    background: var(--color-secondary);
  }
}
